<section class="about__us">
    <img class="about__us-image" src="img/about-us-image.jpg" alt="Dog in a backpack"
    <h2>About Us</h2>
    <p class="about__us-content">We are a small company providing professional, yet affordable at-home pet sitting services for over 10 years. 
       Our philosophy has always been simple – we love what we do and really care about your pets as if they were our family members.
       <br />
       <br />
       Our passionate pet sitters are proud to offer a full range of services when you are out or in lack of time. 
       Your furry friend will feel safe and confident in the comfort of its familiar environment.
    </p>
    <a class="about__us-link" href="#">More About Us</a>
</section>