<section>
    <div>
        <h2>FAQ</h2>
    </div>
    <details>
        <summary>Do you take my pet to your home?</summary>
        <p>We understand that the most comfortable place for your pet is its own home where it can keep to the regular routine. You don't need to transport your pet. One of our trained and experienced sitters will come to your location and take care of your pet according to its individual likes, fears, and habits.</p>
    </details>
    <details>
        <summary>How far in advance do I need to reserve for services?</summary>
        <p>If you are a new client, we recommend you to call us in advance. You should schedule a consultation to provide us with all the needed information about your pet, your home, and your needs. Contact us at least 2-weeks prior to your scheduled services. If you are our regular client, then a 1-week notice will be enough.</p>
    </details>
    <details>
        <summary>Why do I need to call the office to make schedule changes instead of just telling my sitter?</summary>
        <p>You do not have to get in touch with your pet sitter to make any changes to your reservations. All the changes are to be made directly on our website or by phone.</p>
    </details>
    <details>
        <summary>What does a pet sitter do?</summary>
        <p>When you are out, traveling, or are just in lack of time to look after your pets, we are here to help you. Our trained and experienced pet sitters care for your pets in the convenience of their own homes. They feed and wash them, communicate and play, provide dog walks and exercises, clean up all the pet mess, and give medications if needed.</p>
    </details>
    <details>
        <summary>What if I have additional tasks besides pet sitting?</summary>
        <p>When you are out, traveling, or are just in lack of time to look after your pets, we are here to help you. Our trained and experienced pet sitters care for your pets in the convenience of their own homes. They feed and wash them, communicate and play, provide dog walks and exercises, clean up all the pet mess, and give medications if needed.</p>
    </details>
    <details>
        <summary>Will I have the same pet sitter each time?</summary>
        <p>We strive to provide you with the same pet sitter each time you are out. But sometimes the sitter may not be available because of illness, planned vacation, or other circumstances. In such a case we'll inform you and send another well-trained pet sitter to your location.</p>
    </details>
</section>