<header class="header">
    <div class="header__phone-number-and-social-media">
        <div class="header__phone-number-container">
            <p class="header__phone-number"><a class="header__to-call-link" href="#">+ 1 (234) 567 89 00</a></p>
        </div>
        <div class="header__social-media-container">
            <p class="header_social-media-item"><a href="#" class="header__social-media-link">INSTAGRAM</a></p>
            <p class="header_social-media-item"><a href="#" class="header__social-media-link">FACEBOOK</a></p>
            <p class="header_social-media-item"><a href="#" class="header__social-media-link">YOUTUBE</a></p>
        </div>
    </div>
    <nav class="header__nav">
        <div class="header__logo-container">
            <img class="header__logo" src="images/restaurant-logo.svg" alt="Best Pet">
        </div>
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">About us</a>
                </li>
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">Services</a>
                </li>
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">FAQ</a>
                </li>
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">Gallery</a>
                </li>
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">Happy Clients</a>
                </li>
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">Blog</a>
                </li>
                <li class="header__menu-item">
                    <a clas="header__menu-link" href="#">Contacts</a>
                </li>
            </ul>
    </nav>
   <div class="header__banner">
        <h1 class="header__title">Find the Care Your Pet Deserves</h1>
        <p class="header__subtitle">Rest assured that your pets feel safe and comfortable in our loving hands!</p>
        <div>
            <a href="#" class="header__contact-us-link">Find a Sitter</a>
            <a href="#" class="header__become-sitter-link">Become a Sitter</a>
        </div>
   </div>
</header>