<header class="header">
    <div class="header__phone-number-and-social-media">
        <div class="header__phone-number-container">
            <p class="header__phone-number"><a class="header__to-call-link" href="#">+ 1 (234) 567 89 00</a></p>
        </div>
        <div class="header__social-media-container">
            <a href="#" class="header_social-media-item">INSTAGRAM</a>
            <a href="#" class="header_social-media-item">FACEBOOK</a>
            <a href="#" class="header_social-media-item">YOUTUBE</a>
        </div>
    </div>
    <nav class="header__nav">
        <div class="header__logo">Best Pet</div>
            <div class="header__menu">
                    <a clas="header__menu-item"" href="#">About us</a>
                    <a clas="header__menu-item"" href="#">Services</a>
                    <a clas="header__menu-item"" href="#">FAQ</a>
                    <a clas="header__menu-item"" href="#">Gallery</a>
                    <a clas="header__menu-item"" href="#">Happy Clients</a>
                    <a clas="header__menu-item"" href="#">Blog</a>
                    <a clas="header__menu-item"" href="#">Contacts</a>
            </div>
    </nav>
   <div class="header__banner">
        <h1 class="header__title">Find the Care Your Pet Deserves</h1>
        <p class="header__subtitle">Rest assured that your pets feel safe and comfortable in our loving hands!</p>
        <div>
            <a href="#" class="header__contact-us-link">Find a Sitter</a>
            <a href="#" class="header__become-sitter-link">Become a Sitter</a>
        </div>
   </div>
</header>