<section>
    <div>
        <h2>Pets We Care</h2>
        <div>
            <img src="img/pets-we-care-cat.svg" alt="Cat">
            <h3>Cats</h3>
        </div>
        <div>
            <img src="img/pets-we-care-dog.svg" alt="Dog">
            <h3>Dogs</h3>
        </div>
        <div>
            <img src="img/pets-we-care-fish.svg" alt="Fish">
            <h3>Fish</h3>
        </div>
        <div>
            <img src="img/pets-we-care-bird.svg" alt="Bird">
            <h3>Birds</h3>
        </div>
        <div>
            <img src="img/pets-we-care-rabbit.svg" alt="Rabbit">
            <h3>Rabbits</h3>
        </div>
        <div>
            <img src="img/pets-we-care-turtle.svg" alt="Turtle">
            <h3>Turtles</h3>
        </div>
    </div>
</section>