<section>
    <div>
        <h2>Services We Provide</h2>
        <div>
            <img src="img/services-pet-sitting.jpg" alt="Pet Sitting">
            <h3>Pet Sitting</h3>
            <a href="#">Learn more</a>
        </div>
        <div>
            <img src="img/services-dog-walking.jpg" alt="Dog Walking">
            <h3>Dog Walking</h3>
            <a href="#">Learn more</a>
        </div>
        <div>
            <img src="img/services-overnight-sitting.jpg" alt="Overnight Sitting">
            <h3>Overnight Sitting</h3>
            <a href="#">Learn more</a>
        </div>
        <div>
            <img src="img/services-pet-taxi.jpg" alt="Pet Taxi">
            <h3>Pet Taxi</h3>
            <a href="#">Learn more</a>
        </div>
        <div>
            <a href="#">Request a Service</a>
        </div>
    </div>
</section>