<section>
    <div>
            <h2>Why You Need a Sitter</h2>
        <div>
           <img src="/img/why-you-need-home .svg" alt="Home">
           <p>Pets feel comfortable in the 
            convenience of their home.</p>
        </div>
        <div>
            <img src="/img/why-you-need-bowl.svg" alt="Bowl">
            <p>Your pet will eat a healthy 
                and well-balanced food.</p>
        </div>
        <div>
            <img src="/img/why-you-need-taboo.svg" alt="Taboo">
            <p>You don't need to ask your 
                friends or neighbors to sit 
                with your pet.</p>
        </div>
        <div>
            <img src="/img/why-you-need-paw.svg" alt="Paw">
            <p>Our experienced sitters will 
                care for your pet's health.</p>
        </div>
        <div>
            <img src="/img/why-you-need-dog.svg" alt="Dog">
            <p>We provide scheduled dog 
                walking and safe return home.</p>
        </div>
        <div>
            <img src="/img/why-you-need-hands.svg" alt="Hands">
            <p>Relax and enjoy your time out 
                while your pet is in caring and 
                loving hands.</p>
        </div>
    </div>
</section>